<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pathfinder</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" rel="stylesheet">
    <link crossorigin="" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          rel="stylesheet"/>
    <script crossorigin=""
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
</head>
<body>
<header th:fragment="navigation">
    <nav class="main-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/login">Login</a>
            </li>
            <li>
                <a href="/users/regiter">Register</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/routes/add">Add new route</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
            <li>
                <a href="/">Admin</a>
            </li>
            <li>
                <a href="/users/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<footer class="footer bg-blur rounded" th:fragment="footer">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>